<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
<appSettings>
     <!--Provide Default Data Provider for your Connection; You cna choose: Oracle or SqlServer or OleDb or Odbc or MySql--> 
    <add key="DefaultDataProvider" value="SqlServer" />

    <!--Provide Default Connection String Name which is added on your ConnectionStrings Section--> 
    <add key="DefaultConnection" value="MsSQL" />
  </appSettings><connectionStrings>
                    <add name="MsSQL" connectionString="User ID=sa; Password=start777; Persist Security Info=true;Data Source=hasibul-pc;Initial Catalog=test_db"
                        providerName="System.Data.SqlClient" />
                    <add name="MySqlCon" connectionString="Server=localhost;Port=3306;Database=test;Uid=hasibul;Pwd=2363S3;"
                        providerName="MySql.Data.MySqlClient" />
                    <add name="AccessCon" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=test.mdb;Jet OLEDB:Database Password=1123;"
                        providerName="System.Data.OleDb" />
                    <add name="wujudaesselleagi.Properties.Settings.HuratoConnectionString"
                        connectionString="Data Source=DESKTOP-CPJQVAP\LEEHJ;Initial Catalog=Hurato;Integrated Security=True"
                        providerName="System.Data.SqlClient" />
                </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>